body, .theme-dark {
    --background-primary: rgb(0,0,0);
    --background-secondary: rgb(3,3,3);
    --background-secondary-alt: rgb(3,3,3);
    --background-tertiary: rgb(6,6,6);
    --background-accent: rgb(6,6,6);
    --background-text-area: rgb(9,9,9);
    --background-floating: rgb(9,9,9);
    --background-modifier-selected: rgba(12,12,12,0.6);
    --background-modifier-active: rgba(12,12,12,0.4);
    --background-modifier-hover: rgba(12,12,12,0.3);
    --scrollbar-auto-track: rgb(9,9,9);
    --scrollbar-auto-thumb: rgb(12,12,12);
    --container-hover: rgb(15,15,15);
    --container-active: rgb(15,15,15);
    --container-avatar: rgb(18,18,18);
    --layout-selected: rgba(79, 84, 92, 0.32);
    --searchBar-hover: rgb(15,15,15);
    --searchBar-open: rgb(18,18,18);
    --scroller: rgb(9,9,9);
    --spoilerText: rgb(12,12,12);
    --spoilerText-hover: rgb(15,15,15);
    --uploadModal: rgb(0,0,0);
    --footer: rgb(0,0,0);
    --selected-hover: rgb(18,18,18);
    --selected-active: rgb(18,18,18);
    --expandedFolder: rgb(6,6,6);
    --closedFolder: rgb(6,6,6);
    --closedFolderIconWrapper: rgb(6,6,6);
    --peopleList: rgb(0,0,0);
    --expandedFolderIcon: rgb(6,6,6);
    --expandedFolderIconWrapper-hover: rgb(9,9,9);
    --body-footer: rgb(0,0,0);
    --headerTop: rgb(0,0,0);
    --toast-background: rgb(0,0,0);
    --toast-header: rgb(0,0,0);
    --toast-contents: rgb(0,0,0);
    --toast-box-shadow: rgba(0, 0, 0, .2);
}

.scrollableContainer-15eg7h, .infoScroller-1QMpon, .topSection-13QKHs, .headerTop-3GPUSF, .body-2wLx-E, .footer-3naVBw,
.bodyInnerWrapper-2bQs1k, .header-1zd7se, .content-2hZxGK, .footer-31IekZ.flex-2S1XBF.flex-3BkGQD, .card-16VQ8C,
.paymentRow-1HKOLu, .pageActions-1crTQL, .codeRedemptionRedirect-3SBiCp.card-16VQ8C, .theme-dark .notDetected-2HEmAp,
.theme-light .notDetected-2HEmAp, .ttsPreviewWrapper-100hh5, .container-2o3qEW, .members-3WRCEx>div, .header-3OsQeK,
.scrollerBase-_bVAAt, .panels-3wFtMD, .header-3cSJjT, .header-1zd7se.header-1sd0RU, .footer-31IekZ.footer-34a4-c,
.inner-2pOSmK, .friendsEmpty-gs15T1, .searchBar-3TnChZ, .header-30YxSJ, .flex-3BkGQD, .footer-31IekZ.flex-2S1XBF,
.formNotice-2nS8ey, .card-2U-33X, .card-16VQ8C, .popoutInfo-16MuYF, .theme-dark .scroller-2GkvCq, .wrapper-2SplAX,
.theme-dark .reactors-1VXca7, .theme-dark .tierHeaderLocked-30MLlO, .theme-dark .tierBody-1d3UiS, .participants-3hk3ND,
.theme-dark .headerExpanded-1-zwDr, .theme-dark .changeDetails-1kMZqI, .theme-dark .headerClickable-zGQJz3,
.theme-dark .headerDefault-1e6yjj, .container-2c4_8A, .header-3_zmOb, .header-1w9Q93, .footer-5ji8u1, .scroller-35tvpe,
.cardContent-1-5hym, .role-3pGE29.selected-g-kMVV, .side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG,
.topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG, .modal-1Kmy_E.root-g14mjS, .radioBar-3w9XY-,
.container-cH6QoY, div.root-22AK9z, .tileContainer-Os085F, .container-3r7mfc, .slideContainer-1kdX2a, .container-1NXEtd,
.rowContainer-jDvyA4, .channelNotice-K4UfZY, .perksModalContentWrapper-3RHugb, .theme-dark .tierHeaderLocked-3ItHYn,
.theme-dark .tierBody-3ju-rc, .theme-dark .perk-19D_HN, .wrapper-1HIH0j, .theme-dark .tierHeaderUnlocked-1OpOLf,
.analyticsCard-2fnrVG, .card-8UsK4b, .developerPortalCtaWrapper-2PniQs, .theme-dark .root-g14mjS, .container-3ssFyj,
.newMessagesBar-1hF-9G.barBase-3xxDXu, .accountProfileCard-lbN7n-, .background-3d_SjE, .fieldList-in8WkP,
.theme-dark .payment-2bOh4k, .theme-dark .footer-VCsJQY, .theme-dark .expandedInfo-1W31i3, .unicodeShortcut-3N8oDe,
.theme-dark .addGamePopout-3yePJc, .categoryHeader-OpJ1Ly, .theme-dark .selected-3H3-RC, .theme-dark .popout-AVsFMl,
.contentWrapper-3vHNP2, .wrapper-1NNaWG, .inspector-DFKXwB {
    background-color: var(--background-primary);
}

/*
Adding a subtle border around things to make them "pop" more
*/
.radioBar-3w9XY-, .container-2oNtJn, .container-2rzKKA, .scrollableContainer-15eg7h, .inner-2pOSmK,
.container-ZMc96U.themed-Hp1KC_, .searchBar-3TnChZ, .addFriendInputWrapper-kkoSV9, .inputWrapper-1YNMmM,
.card-16VQ8C, .theme-dark .notDetected-2HEmAp, .theme-light .notDetected-2HEmAp, .button-f2h6uQ.lookFilled-yCfaCM,
.userPopout-2j1gM4, .menu-1QACrS, .tierHeader-3q9jIw, .tierBody-1d3UiS, .theme-dark .card-3JmxsM, .contentWrapper-3vHNP2,
.theme-dark .card-7AB4HE, .container-2c4_8A, .header-3_zmOb, .header-1w9Q93, .messagesPopout-eVzQcI, .footer-5ji8u1,
.cardContent-1-5hym, .theme-dark .tierHeaderLocked-3ItHYn, .theme-dark .tierBody-3ju-rc, .wrapper-2SplAX,
.side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG, .topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG,
.theme-dark .perk-19D_HN, .wrapper-1HIH0j, .analyticsCard-2fnrVG, .newMessagesBar-1hF-9G.barBase-3xxDXu, .card-8UsK4b,
.accountProfileCard-lbN7n-, .background-3d_SjE, .theme-dark .footer-VCsJQY, .theme-dark .selected-3H3-RC,
.theme-dark .popout-AVsFMl {
    border: var(--background-tertiary) 1px solid;
}
.header-3OsQeK, .title-31SJ6t, .header-3cSJjT, .header-1zd7se.header-1sd0RU, .channelNotice-K4UfZY, .header-11eigE {
    border-bottom: var(--background-tertiary) 1px solid;
}
.wrapper-1_HaEi, .sidebar-1tnWFu, .theme-dark .scroller-2GkvCq, .sidebarRegion-1VBisG, .wrapper-22rqw6.categoryList-2qRrlj {
    border-right: var(--background-tertiary) 1px solid;
}
.container-2o3qEW, .panels-3wFtMD, .theme-dark .changeDetails-1kMZqI, .unicodeShortcut-3N8oDe, .inspector-DFKXwB {
    border-top: var(--background-tertiary) 1px solid
}
.header-30YxSJ, .header-3_zmOb, .header-1w9Q93, .messagesPopout-eVzQcI, .theme-dark .tierHeaderLocked-3ItHYn {
    border-bottom: none;
}
.tierBody-1d3UiS, .newMessagesBar-1hF-9G.barBase-3xxDXu, .theme-dark .footer-VCsJQY {
    border-top: none;
}

/*
Fixing broken padding
*/
.flex-2S1XBF.flex-3BkGQD.horizontal-112GEH.horizontal-1Piu5-.flex-3BkGQD.directionRow-2Iu2A9.justifyStart-2Mwniq.alignCenter-14kD11.noWrap-hBpHBz {
    padding-bottom: 8px;
}
.breadcrumbs--Y6d8N {
    margin-bottom: 0px;
}

/*
Fixing broken z-indexing
*/
#popout_1114 {
    z-index: 1000;
}

/*
Hiding Discord's upsell that way you don't click on it
*/
.banner-3Uu4yV, .upsellContainer-22N_CL, .divider-_0um2u, .channel-1Shao0.container-1oeRFJ.clickable-28SzVr[href="/store"],
.bannerUpsellContainer-31E9J5, button[aria-label="Send a gift"], .channelTextArea-2VhZ6z > .container-JHR0NT, .upsell-34F9Me {
    display: none;
}
